<div id="cart_wrapper">
	<h1>Seu Carrinho</h1>
	<article id="cart_list">
		<ul id="cart_list">
		{{#each produtos}}
			<li class="cart_entry">
				<a href="/produto/{{id}}/"><img src="{{imagem}}" class="cart_image outGlow" alt="{{nome}} product image" /></a>
				<div class="cart_text_wrapper">
					<span class="cart_name"><a href="/produto/{{id}}/">{{nome}}</a></span>
					<span class="cart_price">R&#36;{{preco}}</span>
					<span class="cart_quantity">{{quantidade}}</span>
					<form class="alter_qtd_form" name="alter_qtd_form" action="/cart/{{id}}?_method=PUT" method="post">
						<input type="number" name="quantidade" min="0" max="100" placeholder="{{quantidade}}" value="{{quantidade}}"/>
						<input type="submit" value="Alterar" />
					</form>
				</div>
				<!-- coloquei o botão seguinte dentro de um form pra não ter que criar um js em separado pra ação do botão -->
				<form>
					<input id="{{id}}" class="remove_item_button" value="Remover" />
				</form>
			</li>
		{{/each}}
		</ul>
	</article>
	<article id="cart_resume">
		<p id="cart_total">Total ({{qtd_items}}): R&#36;{{preco_total}}</p>
		<!-- associar a uma função que alerte a compra e limpe o carrinho -->
		<button id="botao_compra" type="button">Comprar!</button>
	</article>
</div>

<script type="text/javascript">
	var elements = document.getElementsByClassName("remove_item_button");
	for (var i=0; i<elements.length;i++){
		elements[i].addEventListener("click", function(e) {
			var xmlhttp = new XMLHttpRequest();
			var element = this;
	    xmlhttp.onreadystatechange = function(){
				if (xmlhttp.readyState==4){
					document.getElementById(element.id).parentNode.parentNode.remove();
				}
	    };
	    xmlhttp.open("DELETE", "/cart/" + this.id, true);
	    xmlhttp.send();
		}.bind(elements[i]));
	}
</script>
