<ul class="compact_product_list">
  {{#each produtos}}
      <li class="product_entry">
	      <a href="/produto/{{id}}/"><img src="{{imagem}}" class="compact_image outGlow inGlow" alt="{{nome}} product image" /></a>
	      <div class="list_text_wrapper">
		      <span class="compact_name"><a href="/produto/{{id}}/">{{nome}}</a></span>
		      <hr><br>
		      <span class="compact_price">R&#36;{{preco}}</span>
	      </div>
      </li>
  {{/each}}
</ul>
