  {{#each produtos}}
	<div class="produto_detalhado">
		<span id="detail_name">{{nome}}</span>
		<img src="{{imagem}}" class="detail_image" alt="{{nome}} product image" />
		<span id="detail_description">{{descricao}}</span>
		<span id="detail_price">R&#36;{{preco}}</span>
	</div>
  {{/each}}
